# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
alembic/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/


# Pyre type checker
.pyre/

# Test / coverage reports
.coverage
.tox/
.nox/
.cache/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Environments
.env
.env.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Pyre
.pyre/

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/
build/sphinx

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Encrypted keys
*.key

# dotenv
*.env

# FastAPI specific
*.log
*.db